<section class="bg-light" id="portfolio">
    <!-- <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="intro">
                    <h6>Work</h6>
                    <h1>Successful projects</h1>
                    <p class="mx-auto">Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                        roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old</p>
                </div>
            </div>
        </div>
    </div>
    <div id="projects-slider" class="owl-theme owl-carousel">
        <div class="project">
            <div class="overlay"></div>
            <img src="../../../assets/img/project1.jpg" alt="">
            <div class="content">
                <h2>Consulting Marketing</h2>
                <h6>Website Design</h6>
            </div>
        </div>
        <div class="project">
            <div class="overlay"></div>
            <img src="../../../assets/img/project2.jpg" alt="">
            <div class="content">
                <h2>Consulting Marketing</h2>
                <h6>Website Design</h6>
            </div>
        </div>
        <div class="project">
            <div class="overlay"></div>
            <img src="img/project3.jpg" alt="">
            <div class="content">
                <h2>Consulting Marketing</h2>
                <h6>Website Design</h6>
            </div>
        </div>
        <div class="project">
            <div class="overlay"></div>
            <img src="img/project4.jpg" alt="">
            <div class="content">
                <h2>Consulting Marketing</h2>
                <h6>Website Design</h6>
            </div>
        </div>
        <div class="project">
            <div class="overlay"></div>
            <img src="img/project5.jpg" alt="">
            <div class="content">
                <h2>Consulting Marketing</h2>
                <h6>Website Design</h6>
            </div>
        </div>
    </div> -->

    


    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <!-- <div class="project">
                <div class="overlay"></div>
                <img src="../../../assets/img/project1.jpg" alt="">
                <div class="content">
                    <h2>Consulting Marketing</h2>
                    <h6>Website Design</h6>
                </div>
            </div> -->
            <div class="card border-0" style="width: 35rem;">
                <div class="card-body">
                    <div class="project">
                        <div class="overlay"></div>
                        <img src="../../../assets/img/project1.jpg" alt="">
                        <div class="content">
                            <h2>Consulting Marketing</h2>
                            <h6>Website Design</h6>
                        </div>
                    </div>
                </div>
              </div>
          </div>
          <div class="carousel-item">
            <div class="project">
                <div class="overlay"></div>
                <img src="../../../assets/img/project2.jpg" alt="">
                <div class="content">
                    <h2>Consulting Marketing</h2>
                    <h6>Website Design</h6>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="project">
                <div class="overlay"></div>
                <img src="../../../assets/img/project3.jpg" alt="">
                <div class="content">
                    <h2>Consulting Marketing</h2>
                    <h6>Website Design</h6>
                </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</section>
